opencv-python
pandas
numpy==1.16.1
tflearn
keras
tensorflow
scikit-learn
matplotlib
# not required but helpfull
requests
mss
keyboard
# memory_profiler
# required for screenshots but mss works fine
# pywin32
